<section class="container">
	<div class="row border">
		<div class="col-md-4 offset-md-1 br-5">
			<img src="assets/images/logoLogin.png" alt="">
		</div>
		<div class="col-md-4 offset-md-1 m-t-30 br-5">
			<h3>Confirmação de serviço</h3>
		</div>

	</div>

	<div class="row border m-t-5">

		<table class="col-12 table">
			<tr>
				<td><b>Nome do Passageiro: </b> {{test}}</td>
				
				<td><b>Lugar de partida: </b> {{test}}</td>
			</tr>

			<tr>
				<td><b>Valor a pagar:</b>  {{test}}</td>
				<td><b>N° File:</b> {{test}}</td>
			</tr>
		</table>
	</div>
	<div class="row border m-t-5">
		<div class="col-12">
			<ul class="list-group">
				<li class="list-group-item">
					(N° File: 165125) CENA SHOW BALI HAI ADULTO
				</li>
				<li class="list-group-item">
					FechaExcursión:	25-07-2018
				</li>
				<li class="list-group-item">
					Horario de Recogida:	19:30
				</li>
				<li class="list-group-item">
					Total de Pasajeros:	4
				</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item">
					(N° File: 165125) CENA SHOW BALI HAI ADULTO
				</li>
				<li class="list-group-item">
					FechaExcursión:	25-07-2018
				</li>
				<li class="list-group-item">
					Horario de Recogida:	19:30
				</li>
				<li class="list-group-item">
					Total de Pasajeros:	4
				</li>
			</ul>
		</div>
	</div>
	<div class="row border m-t-5">
		<div class="col-12">
			<b>Descrição:</b><br>
			<span class="text-info">
				Bali Hai, um dos restaurantes mais tradicionais da capital. A noite começa com um atrativo show ao vivo onde as danças polinésias da cultura Rapa Nui da Ilha de Pás-coa serão mostradas. O show também o levará de norte a sul, com as danças e músicas de cada região do Chile. Será uma noite de gastronomia mágica e saborosa.<br>
			</span>
			<b>Observações:</b><br>
			<span>
				...
			</span>
			
		</div>
	</div>
	<div class="row border m-t-5">
		<div class="col-12 text-center">
			<button class="btn btn-primary m-t-5 m-b-5">
				Imprimir
			</button>
		</div>
	</div>
</section>