<div class="row">
	<div class="col-md-4 offset-md-4 m-t-50 border br-5">
		<img src="assets/images/logoLogin.png" alt="">
		<form #conserjesForm="ngForm">
		    <div  class="form-group">
		    	<label for="usuario">Usuario</label>
		      	<input 
		      	type="text" 
		      	[(ngModel)]="txtUsuario" 
		      	id="usuario" 
		      	name="usuario"
		      	#usuario="ngModel" 
		      	class="form-control border"  
		      	placeholder="Ingrese un usuario"
		      	required>
		      	<div [hidden]="usuario.valid" class="small alert-danger">
		        	Campo usuario es obligatorio
		        </div>
		    </div>
		    <div class="form-group">
		    	<label for="password">Password</label>
		      	<input 
		      		type="password" 
		      		[(ngModel)]="txtPassword"  
		      		id="password" 
		      		name="password" 
		      		#password="ngModel"
		      		class="form-control border" 
		      		placeholder="******"
		      		required>
			      	<div [hidden]="password.valid"
			             class="small alert-danger">
			          Campo Password es obligatorio
			        </div>
		      	<span class="help-block" *ngIf="email"></span>
		    </div>
		    <div class="form-group">
		    	<button [disabled]="!conserjesForm.valid" class="form-control btn btn-primary" (click)="login()">
		    		Identificarse
		    	</button>
			</div>
			<a routerLink="/registrousuario">¿Desea registrarse?</a>
		</form>
	</div>
</div>